$font-size-h-48:3rem;
$font-size-h-40:2.5rem;
$font-size-h-32:2rem;
$font-size-h-28:1.75rem;
$font-size-h-24:1.5rem;
$font-size-p-20:1rem;
$font-size-p-18:1.125rem;
$font-size-p-16:1rem;
$font-size-p-14:0.875rem;
$font-size-p-12:0.75rem;
$font-size-p-10:0.625rem;
$font-weight-med:500;
$font-weight-bold:600;
$font-weight-sbold:700;
$line-height-basic:150%;
$color-black:#000;
$color-white:#fff;
$color-grey:#7D7D7D;
$color-red-bg:#A63020;
$color-point-red:#C70612;
$color-point-beige:#F2DECE;
$color-white-bg:#F8F8F8;

@mixin img_contain {
    width:100%; height:100%;
    object-fit:contain;
}

@mixin img_cover {
    width:100%; height:100%;
    object-fit:cover;
}

@mixin font_basic_reg {
    line-height:$line-height-basic;
    letter-spacing:-2%;
}
@mixin font_basic_med {
    font-weight:$font-weight-med;
    line-height:$line-height-basic;
    letter-spacing:-2%;
}
@mixin font_basic_sbold {
    font-weight:$font-weight-sbold;
    line-height:$line-height-basic;
    letter-spacing:-2%;
}
@mixin font_basic_bold {
    font-weight:$font-weight-bold;
    line-height:$line-height-basic;
    letter-spacing:-2%;
}

@mixin main_sub_title_d { 
    font-size:$font-size-h-48;
    font-weight:$font-weight-med;
    font-family:"Archivo Black", sans-serif;
    line-height:$line-height-basic;
}
@mixin main_sub_title_t {
    font-size:$font-size-h-40;
    font-weight:$font-weight-sbold;
    font-family:"Archivo Black", sans-serif;
    line-height:$line-height-basic;
}
@mixin main_sub_title_m {
    font-size:$font-size-h-20;
    font-weight:$font-weight-sbold;
    font-family:"Archivo Black", sans-serif;
    line-height:$line-height-basic;
}
@mixin flex-row {
    display:flex;
    flex-flow:row nowrap;
}
@mixin flex-col {
    display:flex;
    flex-flow:column nowrap;
}